.button{
    background: $blue;
    border: none;
    transition-duration: 0.4s;
    border-bottom: .3rem solid lighten($blue, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
   
}
.button:hover{
    background-color: $light-blue; /* Green */
}

.delete-button{
    align-content: center;
    display: flex;
    width: 50%;
    margin-left: 30px;
    padding: 10px 10px 10px 40px;
    background: rgb(134, 33, 33);
    transition: background .3s ease;
    &:hover{
        background: red;
    }
}