.button{
    background: $blue;
    border: none;
    border-bottom: .3rem solid lighten($blue, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
    transition: background .4s ease;
    &:hover{
        background: #011556;
    }
   
}

.delete-button{
    text-align: center;
    display: flex;
    width: 100%;
    padding: 10px 10px 10px 40px;
    background: rgb(134, 33, 33);
    transition: background .3s ease;
    &:hover{
        background: red;
    }
}