.card-wrapper {
    flex: 100%;
    margin: 20px 0 $xxl-size $l-size;
    padding: $s-size $s-size $xxl-size $l-size;
    background-color: rgb(247, 246, 241);
    box-shadow: 0 0 12px rgb(63, 63, 63);
}

.card {
    width: 250px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 60%;
    margin: 0 auto;
}

p{
    overflow-wrap: break-word;
    font-size: large;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(max-width: $desktop-breakpoint){
    .wrapper{
        display: flex;
        justify-content: center;
        max-width: 60%;
        margin: 0 auto;
    }
}