.container {
    text-align: center;
    margin: 0 100px 0 100px;
    padding: 0 $m-size;
    &--soup{
        @extend .container;
        padding-bottom: $xs-size;
    }
}

.container__title{
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    width: 100%;
}

.container_delete-buton{
    display: flex;
    position: absolute;
    align-self: center;
    margin-left: 30px ;
    width: 100px;
}
.container--pizza{
    text-align: center;
}

@media(max-width: $desktop-breakpoint){
    .container--pizza{
        text-align: center;
    }
}


