.header{
    color: white;
    background-color: $off-black;
    margin-bottom: $m-size;
    padding: $l-size 0;
    text-align: center;
}

.header__title{
    font-size: $xl-size;
    margin: 0;
}

.header__subtitle{
    color: $light-blue;
    font-weight: 500;
    margin: 0;
}


@media(max-width: $desktop-breakpoint){
    .header{
        margin-bottom: $xl-size;
        text-align: center;
    }
    .header__title{
        font-size: 2.5rem;
        margin: 0;
    }
}