//Colors
$off-black: #20222b;
$off-purple: #a5afd7;
$off-white: #e2e9c3;
$blue: #2e92f0;
$light-blue: #8ba3f1;
$deep-blue: #032eb9;
$dark-blue: #333745;
$purple: #8357c5;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;